

<div class="panel-heading font-bold pull-left"><%= @item.sku %>  <i>view mode</i></div>
<table class="table table-striped">
<tbody>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					SKU
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.sku %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Supplier code
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.sup_code %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Supplier name
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.supplier.sup_name %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Additional field 1
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.add1 %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Additional field 2
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.add2 %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Additional field 3
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.add3 %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Additional field 4
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.add4 %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Additional field 5
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.add5 %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Additional field 6
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.add6 %>
				</div>
			</td>
	</tr>
	<tr>
		
			<td class="col-md-4">
				<div class="paragraf">
					Price
				</div>
			</td>
			<td class="col-md-8">
				<div class="paragraf">
					<%= @item.price %>
				</div>
			</td>
	</tr>
</tbody>
</table>

